//Powa Colors
$powa-blue: #4c81c3;
$charcoal: #303030;
$canvas: #f4f4f4;
$not-black: #121212;
$blue-tint: #e2e7ee;
$blue-tint-2: #88aad5;
$white: #ffffff;
$transparent: rgba(#ffffff, 0);
$not-black-transparent: rgba(#121212, 0.7);
$light-grey: #d1d1d1;
$menu-grey: #585858;
$powa-footer: #a3a2a2;
$grey-main: #9b9b9b;
$grey-section: #bbbbbb;
$grey-body: #838383;
$red-twickenham: #b81237;
$grey-tw: #ebebeb;
$grey-tw-dark: #d3d6d5;
$blue-ibm: #003859;