/*  img/image.jpg  */
// - Variables
@import "variables";
// - Mixins
@import "mixins";
@import "print";

body{
     //background:#f00;
     //color:#fff;
     h1{
          color:#000;
          text-align:center;
     }
     h2{
          font-size: 20px;
     }
     .bordered{
          border:1px solid #aaa;
          border-radius:4px;
     }
     .padded{
          padding:10px;
     }
     .main-left,.main-right{
          padding: 1em;
     }
     .main-left{

     }
     .main-center{

     }
     .main-right {
     .card-wrapper {
          margin:0 auto;
          .theme-wrapper{
               width: 10cm;
               margin: 0 auto 20px auto;
     }
     .card-preview,.card-preview.default{
          width:10cm;
          height:5cm;
          border:1px solid #aaa;
          border-radius:4px;
          margin:0 auto;
          position:relative;
          section{

          }
          section.logo{
                         position: relative;
                         .companyLogo {
                              position: absolute;
                              top: 10px;
                              left: 10px;
                    width:50px;
                    height:50px;
               }
          }
          section.personal-details{
                         position:relative;
               font-size:10px;
               span.pdata{
                    padding:1px 0;
                    margin:0;
                    display:block;
               }
               .name{
                         font-size: 20px;
               }
               .email{

               }
               .www {

               }
               .tel{

               }
               .mob{

               }
               .address1{

               }
               .address2{

               }
          }
     }
     //#################### themes ###################
     //#################### second theme ###################
     .card-preview.theme2{
          section.logo{
               img{
                    width:50px;
                    height:50px;
               }
          }
          section.personal-details {
               span.pdata {

               }
               .name {

               }
               .email {

               }
               .www {

               }
               .tel {

               }
               .mob {

               }
               .address1 {

               }
               .address2 {

               }
          }
     }
     //#################### third theme ###################
     .card-preview.theme3{
          section.logo{
               img{
                    width:50px;
                    height:50px;
               }
          }
          section.personal-details {
               span.pdata {

               }
               .name {

               }
               .email {

               }
               .www {

               }
               .tel {

               }
               .mob {

               }
               .address1 {

               }
               .address2 {

               }
          }
     }
     //#################### END  themes ###################
     }
     }
     #loading{
          display:none;
          background: url("../img/AjaxLoader.gif") no-repeat center center;
     }

}