/*  img/image.jpg  */
// - Variables
@import "variables";
// - Mixins
@import "mixins";
//@import "print";
@mixin linearGradient($start , $end){
     background: #{$start}; /* Old browsers */
     background: -moz-linear-gradient(top,  #{$start} 0%, #{$end} 66%); /* FF3.6+ */
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#{$start}), color-stop(66%,#{$end})); /* Chrome,Safari4+ */
     background: -webkit-linear-gradient(top,  #{$start} 0%,#{$end} 66%); /* Chrome10+,Safari5.1+ */
     background: -o-linear-gradient(top,  #{$start} 0%,#{$end} 66%); /* Opera 11.10+ */
     background: -ms-linear-gradient(top,  #{$start} 0%,#{$end} 66%); /* IE10+ */
     background: linear-gradient(to bottom,  #{$start} 0%,#{$end} 66%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$start}', endColorstr='#{$end}',GradientType=0 );
}
@mixin transition($what , $duration , $easing){
     transition: #{$what} #{$duration} #{$easing};
     -moz-transition: #{$what} #{$duration} #{$easing};
     -webkit-transition: #{$what} #{$duration} #{$easing};
     -o-transition: #{$what} #{$duration} #{$easing};
}
body{
     //background:#f00;
     //color:#fff;
     &.hideMe {
          visibility: hidden;
     }
     h1{
          color:#000;
          text-align:center;
     }
     h2{
          font-size: 20px;
     }
     .bordered{
          border:1px solid #aaa;
          border-radius:4px;
     }
     .padded{
          padding:10px;
     }
     .main-left,.main-right{
          padding: 1em;
     }
     .main-left{

     }
     .main-center{

     }
     .main-right {
     .card-wrapper {
          margin:0 auto;
          .theme-wrapper{
               width: 8.5cm;
               margin: 0 auto 20px auto;
     }
               .card-preview{
          border:1px solid #aaa;
          border-radius:4px;
          margin:0 auto;
          position:relative;
                    @include transition(all , 0.75s , linear);
                    &.default{
                         border: 1px solid #aaa;
                         border-radius: 4px;
                         margin: 0 auto;
                         position: relative;
                    }
                    &.sizeUK{
                         width:321.25px; //8.5cm
                         height:207.87px; //5.5cm
                    }
                    &.sizeBG{
                         width:340.15px; //9cm
                         height:188.97px; //5cm
                    }
                    &.sizeHK{
                         width:340.15px; //9cm
                         height:204.09px; //5.4cm
                    }
                    &.sizeUS{
                         width:336px; //8.89cm
                         height:192px; //5.08cm
                    }
          section{


                    &.logo {
                         position: relative;
                         .companyLogo {
                              position: absolute;
                              top: 10px;
                              left: 10px;
                    width:50px;
                    height:50px;
               }
          }
                    &.personal-details {
                         position:relative;
               font-size:10px;
               span.pdata{
                    padding:1px 0;
                    margin:0;
                    display:block;
               }
               .name{
                         font-size: 20px;
               }
               .email{

               }
               .www {

               }
               .tel{

               }
               .mob{

               }
               .address1{

               }
               .address2{

               }
          }
     }

     }

     //#################### themes ###################
     //#################### second theme ###################
     .card-preview.theme2{
          section.logo{
               img{
                    width:50px;
                    height:50px;
               }
          }
          section.personal-details {
               span.pdata {

               }
               .name {

               }
               .email {

               }
               .www {

               }
               .tel {

               }
               .mob {

               }
               .address1 {

               }
               .address2 {

               }
          }
     }
     //#################### third theme ###################
     .card-preview.theme3{
          section.logo{
               img{
                    width:50px;
                    height:50px;
               }
          }
          section.personal-details {
               span.pdata {

               }
               .name {

               }
               .email {

               }
               .www {

               }
               .tel {

               }
               .mob {

               }
               .address1 {

               }
               .address2 {

               }
          }
     }
     //#################### END  themes ###################
     }
     }
     #loading{
          display:none;
          background: url("../img/AjaxLoader.gif") no-repeat center center;
     }

     #printingContainer{

          width:21cm;
          height:29.7cm;
          margin:0 auto;
          padding:1cm;
          background:#fff;
          overflow:hidden;
          .card-preview{
               float:left;
               margin:1em;
          }
          .card-preview{
               border:1px solid #aaa;
               border-radius:4px;
               float:left;
               margin:0.5em 1em;
               position:relative;
               @include transition(all , 0.75s , linear);
               &.default{
                    border: 1px solid #aaa;
                    border-radius: 4px;
                    position: relative;
               }
               &.sizeUK{
                    width:321.25px; //8.5cm
                    height:207.87px; //5.5cm
               }
               &.sizeBG{
                    width:340.15px; //9cm
                    height:188.97px; //5cm
               }
               &.sizeHK{
                    width:340.15px; //9cm
                    height:204.09px; //5.4cm
               }
               &.sizeUS{
                    width:336px; //8.89cm
                    height:192px; //5.08cm
               }
               section{


                    &.logo {
                         position: relative;
                         .companyLogo {
                              position: absolute;
                              top: 10px;
                              left: 10px;
                              width:50px;
                              height:50px;
                         }
                    }
                    &.personal-details {
                         position:relative;
                         font-size:10px;
                         span.pdata{
                              padding:1px 0;
                              margin:0;
                              display:block;
                         }
                         .name{
                              font-size: 20px;
                         }
                         .email{

                         }
                         .www {

                         }
                         .tel{

                         }
                         .mob{

                         }
                         .address1{

                         }
                         .address2{

                         }
                    }
               }

          }
     }

}

//#################################//
//#################################//
//#################################//
//#################################//

@media print{
     html{
          body{
               .main-left,.main-center,.main-right.print,.back {
                    display:none;
               }
               #printingContainer{

                    width:21cm;
                    height:29.7cm;
                    margin:0 auto;
                    padding:1cm;
                    background:#fff;
                    overflow:hidden;
                    .card-preview{
                         float:left;
                         margin:1em;
                    }
                    .card-preview{
                         border:1px solid #aaa;
                         border-radius:4px;
                         float:left;
                         margin:0.5em 1em;
                         position:relative;
                         @include transition(all , 0.75s , linear);
                         &.default{
                              border: 1px solid #aaa;
                              border-radius: 4px;
                              position: relative;
                         }
                         &.sizeUK{
                              width:321.25px; //8.5cm
                              height:207.87px; //5.5cm
                         }
                         &.sizeBG{
                              width:340.15px; //9cm
                              height:188.97px; //5cm
                         }
                         &.sizeHK{
                              width:340.15px; //9cm
                              height:204.09px; //5.4cm
                         }
                         &.sizeUS{
                              width:336px; //8.89cm
                              height:192px; //5.08cm
                         }
                         section{


                              &.logo {
                                   position: relative;
                                   .companyLogo {
                                        position: absolute;
                                        top: 10px;
                                        left: 10px;
                                        width:50px;
                                        height:50px;
                                   }
                              }
                              &.personal-details {
                                   position:relative;
                                   font-size:10px;
                                   span.pdata{
                                        padding:1px 0;
                                        margin:0;
                                        display:block;
                                   }
                                   .name{
                                        font-size: 20px;
                                   }
                                   .email{

                                   }
                                   .www {

                                   }
                                   .tel{

                                   }
                                   .mob{

                                   }
                                   .address1{

                                   }
                                   .address2{

                                   }
                              }
                         }

                    }
               }
          }
     }

}