/*  img/image.jpg  */
// - Variables
@import "variables";
// - Mixins
@import "mixins";
//@import "print";
//colors===================
$blue : #0CADE8;
$light_blue : #66CCFF;
$nav_grey : #333333;
$nav_light_grey : #eeeeee;
$white : #fff;
@mixin linearGradient($start , $end){
     background: #{$start}; /* Old browsers */
     background: -moz-linear-gradient(top,  #{$start} 0%, #{$end} 66%); /* FF3.6+ */
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#{$start}), color-stop(66%,#{$end})); /* Chrome,Safari4+ */
     background: -webkit-linear-gradient(top,  #{$start} 0%,#{$end} 66%); /* Chrome10+,Safari5.1+ */
     background: -o-linear-gradient(top,  #{$start} 0%,#{$end} 66%); /* Opera 11.10+ */
     background: -ms-linear-gradient(top,  #{$start} 0%,#{$end} 66%); /* IE10+ */
     background: linear-gradient(to bottom,  #{$start} 0%,#{$end} 66%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$start}', endColorstr='#{$end}',GradientType=0 );
}
@mixin transition($args...) {
     -webkit-transition: $args;
     -moz-transition: $args;
     -ms-transition: $args;
     -o-transition: $args;
     transition: $args;
}
@mixin clearFix($elem){
     #{$elem}::after{
          content: "";
          display: table;
          clear: both;
     }
}
body{
     background: url("../../imgs/backgrnd_3.jpg") no-repeat center center #fff;
     background-attachment: fixed;
     background-size: cover;
     //color:#fff;
     font-family:Verdana, Helvetica, sans-serif;
     font-size: 16px;
     -webkit-font-smoothing: antialiased;
     &.hideMe {
          visibility: hidden;
     }
     nav{
          margin-bottom:2em;
          background: $nav_grey!important;
          color:$nav_light_grey;
          a{
               font-size:1.1em;
               display:inline-block;
               font-family:'Oswald',Verdana, Helvetica, sans-serif;
               text-decoration:none;
               color:$nav_light_grey;
               padding:.4em;
               text-shadow:none;
          }

     }
     .navbar{
          a{
               font-size:1.1em;
               display:inline-block;
               font-family:'Oswald',Verdana, Helvetica, sans-serif;
               text-decoration:none;
               color:$nav_light_grey;
               text-shadow:none;
               padding:0.8em .5em;
          }
     }
     a {
          &.backtotop {
               display: none;
               width: 96%;
               padding: 0.5em 1em;
               text-decoration: none;
               color: #6CF;
               font-weight: bold;
               text-align: right;
          }
          &.snippet {
               font-family: 'Oswald', Verdana, Helvetica, sans-serif;
               text-decoration: none;
               color: $nav_light_grey;
               padding: .4em;
               text-shadow: none;
          }
          &:hover {
               text-decoration: none;
               color: $blue;
          }
          &:focus {
               outline: none;
          }
          &.active {
               text-decoration: underline;
               color: $blue;
          }
          &.button {
               padding: 0.7em;
               display: block;
               border: 1px solid $nav_grey;
               border-radius: 3px;
               background: $blue;
               color: $white;
               text-align: center;
               width: 200px;
               margin: 0 auto;
               &:hover {
                    background: $white;
                    color: $blue;
               }
          }
     }

     .bottom_nav{
          background: $nav_grey;
          color:$nav_light_grey;
     }
     h1{
          color:#000;
          text-align:center;
     }
     h2{
          font-size: 20px;
     }
     .bordered{
          border:1px solid #aaa;
          border-radius:4px;
     }
     .padded{
          padding:10px;
     }
     .main-left,.main-right{
          padding: 1em;
     }
     .main-left{
          .fa-mobile{
               font-size:1.45em;
          }
          .fa-times{
               cursor:pointer;
          }
          #cardDetails{
               #bcolor{
                    color:#555;
                    background:#fff;
               }
          }
     }
     .main-center{

     }
     .main-right {
          background:#fff;
          .card-wrapper {
               margin:0 auto;
               .theme-wrapper{
                    width: 8.5cm;
                    margin: 0 auto 20px auto;
               }


               //#################### themes ###################
               .card-preview{
                         border:1px solid #aaa;
                         border-radius:4px;
                         margin:0 auto;
                         position:relative;
                         overflow: hidden;
                         @include transition(width 0.75s linear , height 0.75s linear );
                         &.default{
                              border: 1px solid #aaa;
                              border-radius: 4px;
                              margin: 0 auto;
                              position: relative;
                         }
                         &.sizeUK{
                              width:384.68px; //8.5cm
                              height:251.06px; //5.5cm
                         }
                         &.sizeBG{
                              width:406.96px; //9cm
                              height:228.78px; //5cm
                         }
                         &.sizeHK{
                              width:406.96px; //9cm
                              height:246.60px; //5.4cm
                         }
                         &.sizeUS{
                              width:402.06px; //8.89cm
                              height:232.35px; //5.08cm
                         }
                         section{
                              &.logo {
                                   position: relative;
                                   float:left;
                                   width:50%;
                                   .companyLogo {
                                        position: absolute;
                                        top: 10px;
                                        left: 10px;
                                        width:50px;
                                        height:50px;

                                        &:hover{
                                             cursor: move;
                                        }
                                   }

                              }
                              &.personal-details {
                                   position:relative;
                                   font-size:10px;
                                   float:right;
                                   width:50%;
                                   .moveTextWrapper {
                                        width:95%;
                                        span.pdata {
                                             padding: 1px 0;
                                             margin: 0;
                                             display: block;
                                        }
                                        &:hover{
                                             cursor: move;
                                        }
                                        .group1details {
                                             margin-bottom:5px;
                                             display:block;
                                             @include clearFix('.group1details');
                                             .name {
                                                  font-size: 1.1em;
                                             }
                                             .occupation {
                                                  margin-bottom:5px;
                                             }
                                             .email {

                                             }
                                             .www {

                                             }
                                             .tel {

                                             }
                                             .mob {
                                                  .fa-2{
                                                       font-size: 1.25em;
                                                  }
                                             }
                                        }
                                        .group2details {
                                             display:block;
                                             @include clearFix('.group2details');
                                             .address1 {

                                             }
                                             .city {

                                             }
                                             .pc {

                                             }
                                        }
                                   }
                              }
                         }

                    }
               //#################### second theme ###################
               .card-preview.theme2{
                    section.logo{
                         img{
                              width:50px;
                              height:50px;
                         }
                    }
                    section.personal-details {
                         width:100%;
                         span.pdata {

                         }
                         .group1details {
                              display:inline-block;
                              width:49%;
                              margin:0;
                              .name {
                                   font-size: 1.2em;
                              }
                              .occupation {

                              }
                              .email {

                              }
                              .www {

                              }
                              .tel {

                              }
                              .mob {

                              }
                         }
                         .group2details {
                              display:inline-block;
                              width:49%;
                              .address1 {

                              }
                              .city {

                              }
                              .pc {

                              }
                         }
                    }
               }
               //#################### third theme ###################
               .card-preview.theme3{
                    section.logo{
                         img{
                              width:50px;
                              height:50px;
                         }
                    }
                    section.personal-details {
                         span.pdata {

                         }
                         .name {

                         }
                         .email {

                         }
                         .www {

                         }
                         .tel {

                         }
                         .mob {

                         }
                         .address1 {

                         }
                         .address2 {

                         }
                    }
               }
               //#################### END  themes ###################
          }
     }
     #loading{
          display:none;
          background: url("../img/AjaxLoader.gif") no-repeat center center;
     }

     #printingContainer{
          @include transition(all , 0.75s , linear);
          width:941.48px;
          height:1150px;
          margin:0 auto;
          padding:0 45px;
          background:#fff;
          overflow:hidden;
          .card-preview{
               float:left;
               margin:1em;
          }
          //#################### themes ###################
          .card-preview{
               border:1px solid #aaa;
               border-radius:4px;
               overflow: hidden;
               position:relative;
               @include transition(all , 0.75s , linear);
               &.default{
                    border: 1px solid #aaa;
                    border-radius: 4px;
                    margin: 0 auto;
                    position: relative;
               }
               &.sizeUK{
                    width:384.68px; //8.5cm
                    height:251.06px; //5.5cm
               }
               &.sizeBG{
                    width:406.96px; //9cm
                    height:228.78px; //5cm
               }
               &.sizeHK{
                    width:406.96px; //9cm
                    height:246.60px; //5.4cm
               }
               &.sizeUS{
                    width:402.06px; //8.89cm
                    height:232.35px; //5.08cm
               }
               section{
                    &.logo {
                         position: relative;
                         float:left;
                         width:50%;
                         .companyLogo {
                              position: absolute;
                              top: 10px;
                              left: 10px;
                              width:50px;
                              height:50px;

                              &:hover{
                                   .dragOverlay{
                                        display:none;

                                   }
                              }
                         }

                    }
                    &.personal-details {
                         position:relative;
                         font-size:10px;
                         float:right;
                         width:50%;
                         .moveTextWrapper {
                              width:95%;
                              span.pdata {
                                   padding: 1px 0;
                                   margin: 0;
                                   display: block;
                              }
                              &:hover{
                                   .dragOverlay{
                                        display:none;
                                   }
                              }
                              .group1details {
                                   margin-bottom:5px;
                                   display:block;
                                   @include clearFix('.group1details');
                                   .name {
                                        font-size: 1.1em;
                                   }
                                   .occupation {
                                        margin-bottom:5px;
                                   }
                                   .email {

                                   }
                                   .www {

                                   }
                                   .tel {

                                   }
                                   .mob {
                                        .fa-2{
                                             font-size: 1.25em;
                                        }
                                   }
                              }
                              .group2details {
                                   display:block;
                                   @include clearFix('.group2details');
                                   .address1 {

                                   }
                                   .city {

                                   }
                                   .pc {

                                   }
                              }
                         }
                    }
               }

          }
          //#################### second theme ###################
          .card-preview.theme2{
               section.logo{
                    img{
                         width:50px;
                         height:50px;
                    }
               }
               section.personal-details {
                    width:100%;
                    span.pdata {

                    }
                    .group1details {
                         display:inline-block;
                         width:49%;
                         margin:0;
                         .name {
                              font-size: 1.2em;
                         }
                         .occupation {

                         }
                         .email {

                         }
                         .www {

                         }
                         .tel {

                         }
                         .mob {

                         }
                    }
                    .group2details {
                         display:inline-block;
                         width:49%;
                         .address1 {

                         }
                         .city {

                         }
                         .pc {

                         }
                    }
               }
          }
     }
//#####################################################
//#################### footer #########################
//#####################################################
     footer{
          width:100%;
          border:none;
          margin:0 auto;
          max-width:1280px;
          font-family:'Oswald',Verdana, Helvetica, sans-serif;
          text-align:center;
          .donate{
               .paypal{
                    width:200px;
                    margin:0 auto;
                    padding-bottom:10px;
               }
          }
          .social{
               ul{
                    list-style: none;
                    padding-left:0;
                    margin: 0 0 8px;
                    li{
                         a{
                              display:block;
                              text-indent:-9999px;
                              width:40px;
                              height:40px;
                         }
                         a.fb{
                              background: url('../../imgs/social.png') 2px -52px;
                         }
                         a.fb:hover{
                              background: url('../../imgs/social.png') 2px -2px;
                         }
                         a.tw{
                              background: url('../../imgs/social.png') -42px -52px;
                         }
                         a.tw:hover{
                              background: url('../../imgs/social.png') -42px -2px;
                         }
                         a.gp{
                              background: url('../../imgs/social.png') -82px -52px;
                         }
                         a.gp:hover{
                              background: url('../../imgs/social.png') -82px -2px;
                         }
                         a.pi{
                              background: url('../../imgs/social.png') -162px -52px;
                         }
                         a.pi:hover{
                              background: url('../../imgs/social.png') -162px -2px;
                         }
                         a.li{
                              background: url('../../imgs/social.png') -282px -52px;
                         }
                         a.li:hover{
                              background: url('../../imgs/social.png') -282px -2px;
                         }
                    }
                    li.share{
                         margin:0 10px;
                         width:40px;
                         height:40px;
                         display:inline-block;
                    }
               }
          }
          p{
               a{
                    font-size:1.1em;
                    display:inline-block;
                    font-family:'Oswald',Verdana, Helvetica, sans-serif;
                    text-decoration:none;
                    color:$nav_light_grey;
                    padding:.4em;
                    text-shadow:none;
               }
          }
     }
     .w3cicons{
          text-align:center;
          margin:5px 0 ;
          .fa{
               margin:2px 5px;
               padding: 5px;
               background:#eee;
               border-radius:5px;
          }
     }
     .companyf{
          background:#fff;
          background:rgba(255,255,255,0.8);
          padding:3px;
          border-radius:4px;
     }
}

//#################################//
//#################################//
//#################################//
@media screen and (max-width:991px){
     body {
          font-size: 1.2em;
          overflow-x: hidden;
          nav {
               text-align: center;
               padding: .5em 0;
          }
          .main-center {
               height: auto !important;
               padding-bottom: 10px;
          }
          .main-right{
               height: auto !important;
          }
     }
}
@media screen and (max-width:480px){
     body {

          .main-right{
               height: auto !important;
               .card-wrapper {
                    .card-preview[class*=size]{
                         width: 98.5%;
                    }
               }
          }
     }
}
//#################################//

@media print{
     html{
          background:#fff;
          body{
               background:#fff;
               h1,nav, .main-left, .main-center, .main-right .printBtnWrapper, .backBtnWrapper, .print,footer,.w3cicons{
                    display:none!important;
               }
          }
     }

}