<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Yuliyan Yordanov" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Professional Web Optimisation services. Qualified Web Developer and Analyst.UX , Conversion Rate Optimisation and Analytics " />
    <meta name="keywords" content="javascipt,jQuery,web optimisation,web development,cro " />
    <!-- Latest compiled and minified CSS -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">-->
    <link rel="stylesheet" type="text/css" href="styles/vendor/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles/styles.css">

    <script src="scripts/vendor/angular.min.js"></script>
    <script src="scripts/vendor/angular-resource.min.js"></script>
    <script src="scripts/vendor/angular-route.min.js"></script>
    <title>CardMaster app</title>
</head>
<body data-ng-app="cardMaster" data-ng-controller='cardMaster' data-ng-init="name='John Doe';email='myemail@domain.com';tel='0203434567';mob='07401236993';address1='14a Claybury Broadway';city='Ilford';pc='IG5 0LQ';theme='default';xPos='0.1';yPos='0.1';logoSize='20'">
    <h1 data-html="Online Business Card maker"></h1>
    <div class="container-fluid">
        <div class="row">
            <!-- Left container to host the text options of card-->
            <div class="col-md-3 text-left main-left bg-primary">
                <h2>Your details</h2>
                <p>Fill in the details you want to be shown in your business card</p>
                <form name="cardDetails" id="cardDetails">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                        <input type="text" class="form-control" name="name" id="name" placeholder="Your full name here" data-ng-model="name" />
                    </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">@</span>
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email" data-ng-model="email" />
                    </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></span>
                            <input type="text" class="form-control" name="www" id="www" placeholder="Your website" data-ng-model="www" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span></span>
                            <input type="tel" class="form-control" name="tel" id="tel" placeholder="Landline number" data-ng-model="tel" />
                    </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></span>
                            <input type="tel" class="form-control" name="mob" id="mob" placeholder="Mobile number" data-ng-model="mob" />
                    </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-road" aria-hidden="true"></span></span>
                        <input type="text" class="form-control" id="address1" name="address1" placeholder="Address line 1" data-ng-model="address1" />
                    </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></span>
                        <input type="text" class="form-control" id="city" name="city" placeholder="City" data-ng-model="city" />
                    </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-inbox" aria-hidden="true"></span></span>
                        <input type="text" class="form-control" id="pc" name="pc" placeholder="Postcode" data-ng-model="pc" />
                    </div>
                    </div>
                    <div class="form-group">
                        <label for="bimage">Background image</label>
                        <input type="file" id="bimage" name="bimage">
                        <p class="imageError bg-danger" style="display:none;">Only image files are supported - jpg, jpeg, png, gif.</p>
                    </div>
                    <div class="form-group">
                        <label for="cimage">Company logo</label>
                        <input type="file" id="cimage" name="cimage">
                        <p class="imageError bg-danger" style="display:none;">Only image files are supported - jpg, jpeg, png, gif.</p>
                    </div>
                    <div class="checkbox hidden">
                        <label>
                            <input type="checkbox"> Check me out
                        </label>
                    </div>
                    <button type="submit" class="btn btn-default hidden">Preview</button>
                    <div id="message"></div>
                </form>
            </div>
            <!-- Middle conatainer for the customisation of the card layout -->
            <div class="col-md-3 main-center">
                <h2>Customise appearance</h2>
                <form class="noSubmit logoCustomise bordered padded">
                    <h3 class="text-center">Logo</h3>
                    <div class="form-group xPos">
                        <div class="input-group">
                            <span class="input-group-addon">Logo x-pos</span>
                            <input type="range" class="form-control"  name="xPos" min="0" step='0.1'  max="8.5" value="0.1" id="xPos" data-ng-model="xPos" />
                        </div>
                    </div>
                    <div class="form-group yPos">
                        <div class="input-group">
                            <span class="input-group-addon">Logo y-pos</span>
                            <input type="range" class="form-control"  name="yPos" min="0" step='0.1' max="3.5" value="0.1" id="yPos" data-ng-model="yPos" />
                        </div>
                    </div>
                    <div class="form-group logoSize">
                        <div class="input-group">
                            <span class="input-group-addon">Logo size</span>
                            <input type="range" class="form-control"  name="logoSize" min="20" step='1' max="100" value="30" id="logoSize" data-ng-model="logoSize" />
                        </div>
                    </div>
                </form>

                <form class="noSubmit logoCustomise bordered padded">
                    <h3 class="text-center">Text</h3>
                    <div class="form-group fSize">
                        <div class="input-group">
                            <span class="input-group-addon">Text size</span>
                            <input type="range" class="form-control"  name="fSize" min="10" step='1'  max="18" value="0.1" id="fSize" />
                        </div>
                    </div>
                    <div class="form-group fColor">
                        <div class="input-group">
                            <span class="input-group-addon">Logo color</span>
                            <input type="text" class="form-control"  name="fColor" id="fColor" />
                        </div>
                    </div>
                    <div class="form-group fType">
                        <div class="input-group">
                            <span class="input-group-addon">Logo size</span>
                            <select class="form-control"  name="fType" id="fType">
                                <option value="Helvetica Neue" default>Default</option>
                                <option value="Helvetica">Helvetica</option>
                                <option value="sans-serif">Sans-serif</option>
                                <option value="Arial">Arial</option>
                                <option value="cursive">Cursive</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Right container to host the visual of the card -->
            <div class="col-md-6 text-left main-right ">
                <div class="card-wrapper">
                    <div class="form-group theme-wrapper">
                        <div class="input-group">
                            <span class="input-group-addon">Theme: </span>
                            <select class="form-control" id="theme" name="theme" data-ng-model="theme">
                                <option value="default" default>Default</option>
                                <option value="theme2">Theme 2</option>
                                <option value="theme3">Theme 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="card-preview {{theme}}">
                    <section class="logo col-md-6">
                            <div class="companyLogo"></div>
                    </section>
                    <section class="personal-details col-md-6 ">
                            <span data-ng-show="cardDetails.name" data-ng-bind="name" class="pdata name"></span>
                            <span data-ng-show="cardDetails.email" data-ng-bind="email" class="pdata email"></span>
                            <span data-ng-show="cardDetails.www" data-ng-bind="www" class="pdata www"></span>
                            <span data-ng-show="cardDetails.tel || cardDetails.mob" class="pdata tel mob">{{tel}}<span class="comma">,</span> {{mob}}</span>
                            <span data-ng-show="cardDetails.address1" data-ng-bind="address1" class="pdata address1"></span>
                            <span data-ng-show="cardDetails.city || cardDetails.pc" class="city pc pdata ">{{city | uppercase}}<span class="comma">,</span> {{pc | uppercase}}</span>
                    </section>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div id="loading"></div>
<!--################## img directory img/image.jpg ######################### -->


<!--####################################################-->
<!--###################### scripts #####################-->
<!--####################################################-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
<!-- Latest compiled and minified JavaScript -->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>-->
    <script src="scripts/vendor/jquery-1.12.0.min.js"></script>
    <script src="scripts/vendor/bootstrap.min.js"></script>
    <script src="scripts/custom-scripts.js"></script>
</body>
</html>