<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Yuliyan Yordanov" />
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <meta name="description" content="Print your own personalised business cards for free" />
    <meta name="keywords" content="free business card,free personalised business cards" />
    <!-- fonts-->
    <link href='http://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
    <!-- Latest compiled and minified CSS -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">-->
    <!--<link rel="stylesheet" type="text/css" href="styles/vendor/font-awesome.min.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="styles/vendor/bootstrap.min.css">
    <!--<link rel="stylesheet" type="text/css" href="../css/new_style.css" />-->
    <link rel="stylesheet" type="text/css" href="styles/styles.css">


    <title>Free Online Business Card maker</title>
</head>
<body class="hideMe cardMaster" data-ng-app="cardMaster" data-ng-controller='cardMaster' data-ng-init="name='John Doe';occupation='Front-end Web Developer';email='myemail@domain.com';tel='02001234567';mob='07401234567';address1='some street';city='some town';pc='postcode';theme='';size='sizeUK';xPos='1';yPos='1';logoSize=80;bradius=0;fSize=10;fcolor='#000000';fweight=400;fType='Helvetica Neue';backgroundColor='#fff';">
<nav class="navbar navbar-default">
    <a id="link_about" href="../index.php#about" onClick="ga('send', 'event', 'Links', 'ClickProfile', 'Profile');">About</a>
    <a id='link_services' href='../index.php#services' onClick="ga('send', 'event', 'Links', 'ClickServices', 'Services');">Services</a>
    <a id='link_exp' href='../index.php#experience'>Experience</a>
    <a id='link_edu' href='../index.php#education'>Education</a>
    <a id="link_contact" href="../index.php#contact" onClick="ga('send', 'event', 'Links', 'ClickContact', 'Contact');">Contact me</a>
    <a id="link_homeSnippets" href="../index.php#snippets">Code Snippets</a>
    <a id="webapps" href="../webapps">Webapps</a>
</nav>
    <h1 data-html="Online Business Card maker">Online Business Card maker</h1>
    <h2 data-html="Desktop only" class="text-muted small text-center hide">Desktop only</h2>
    <div class="container-fluid" data-ng-hide="hideSettings">
        <div class="row">
            <!-- Left container to host the text options of card-->
            <div class="col-md-3 text-left main-left bg-primary">
                <h2>Your details</h2>
                <p>Fill in the details you want to be shown in your business card</p>
                <form name="cardDetails" id="cardDetails">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input type="text" class="form-control" name="name" id="name" placeholder="Your full name here" data-ng-model="name" />
                    </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-wrench"></i></span>
                            <input type="text" class="form-control" name="occupation" id="occupation" placeholder="Your occupation" data-ng-model="occupation" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-at "></i></span>
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email" data-ng-model="email" />
                    </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-globe "></i></span>
                            <input type="text" class="form-control" name="www" id="www" placeholder="Your website" data-ng-model="www" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-phone "></i></span>
                            <input type="tel" class="form-control" name="tel" id="tel" placeholder="Landline number" data-ng-model="tel" />
                    </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-mobile "></i></span>
                            <input type="tel" class="form-control" name="mob" id="mob" placeholder="Mobile number" data-ng-model="mob" />
                    </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-home"></i></span>
                        <input type="text" class="form-control" id="address1" name="address1" placeholder="Address line 1" data-ng-model="address1" />
                    </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-building "></i></span>
                        <input type="text" class="form-control" id="city" name="city" placeholder="City" data-ng-model="city" />
                    </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-inbox "></i></span>
                        <input type="text" class="form-control" id="pc" name="pc" placeholder="Postcode" data-ng-model="pc" />
                    </div>
                    </div>
                    <div class="form-group">
                        <label for="bimage">Background image</label> <i class="fa fa-times text-danger" data-ng-click="clearVal('bimage')"></i>
                        <input type="file" id="bimage" name="bimage" data-ng-model="backgroundImage">
                        <p class="imageError bg-danger" style="display:none;">Only image files are supported - jpg, jpeg, png, gif.</p>
                    </div>
                    <div class="form-group">
                        <label for="bcolor">Background color</label>
                        <input type="color" id="bcolor" name="bcolor" data-ng-model="backgroundColor">
                        <!--<p class="imageError bg-danger" style="display:none;">Only image files are supported - jpg, jpeg, png, gif.</p>-->
                    </div>
                    <div class="form-group">
                        <label for="cimage">Company logo</label> <i class="fa fa-times text-danger" data-ng-click="clearVal('cimage')" ></i>
                        <input type="file" id="cimage" name="cimage"  data-ng-model="logoImage">
                        <p class="imageError bg-danger" style="display:none;">Only image files are supported - jpg, jpeg, png, gif.</p>
                    </div>
                    <div id="message"></div>
                </form>
            </div>
            <!-- Middle conatainer for the customisation of the card layout -->
            <div class="col-md-3 main-center  bg-info" >
                <h2>Customise appearance</h2>
                <form class="nosubmit themeSize">
                    <div class="form-group theme-wrapper">
                        <div class="input-group">
                            <span class="input-group-addon lbl">Theme: </span>
                            <select class="form-control" id="theme" name="theme" data-ng-model="theme">
                                <option value="" default>Default</option>
                                <option value="theme2">Theme 2</option>
                                <!--<option value="theme3">Theme 3</option>-->
                            </select>
                        </div>
                    </div>
                    <div class="form-group theme-wrapper">
                        <div class="input-group">
                            <span class="input-group-addon lbl">Size(mm): </span>
                            <select class="form-control" id="size" name="size" data-ng-model="size">
                                <option value="sizeUK" default>85x55</option>
                                <option value="sizeBG">90x50</option>
                                <option value="sizeHK">90x54</option>
                                <option value="sizeUS">88.9x50.8</option>
                            </select>
                        </div>
                    </div>
                </form>
                <!-- Center container for logo positioning -->
                <form class="noSubmit logoCustomise ">
                    <h3 class="text-center">Logo</h3>
                        <div class="form-group logoSize">
                            <div class="input-group">
                                <span class="input-group-addon lbl">Logo size</span>
                                <input type="range" class="form-control"  name="logoSize" min="20" step='5' max="200" value="{{logoSize}}" id="logoSize" data-ng-model="logoSize" />
                                <span class="input-group-addon slbl" data-ng-cloak>{{logoSize}}</span>
                            </div>
                        </div>
                        <div class="form-group fSize">
                            <div class="input-group">
                                <span class="input-group-addon lbl">Logo corners</span>
                                <input type="range" class="form-control"  name="bradius" min="0" step='1' max="{{logoSize/2}}" value="0" id="bradius" data-ng-model="bradius" />
                                <span class="input-group-addon slbl" data-ng-cloak>{{bradius}}</span>
                            </div>
                        </div>
                        <div class="form-group fSize" data-ng-show="mobile">
                            <div class="input-group">
                                <span class="input-group-addon lbl">Logo x</span>
                                <input type="range" class="form-control"  name="xPos" min="0" step='1' max="{{406-logosize}}" value="0" id="xPos" data-ng-model="xPos" />
                                <span class="input-group-addon slbl" data-ng-cloak>{{xPos}}</span>
                            </div>
                        </div>
                        <div class="form-group fSize" data-ng-show="mobile">
                            <div class="input-group">
                                <span class="input-group-addon lbl">Logo y</span>
                                <input type="range" class="form-control"  name="yPos" min="0" step='1' max="{{251-logosize}}" value="0" id="yPos" data-ng-model="yPos" />
                                <span class="input-group-addon slbl" data-ng-cloak>{{yPos}}</span>
                            </div>
                        </div>

                </form>
                <!-- Center container for text customisation -->
                <form class="noSubmit textBoxCustomise ">
                    <input type="hidden" data-ng-model="textLeft" />
                    <input type="hidden" data-ng-model="textTop" />
                    <h3 class="text-center">Text</h3>

                    <div class="form-group fSize" data-ng-show="mobile">
                        <div class="input-group">
                            <span class="input-group-addon lbl">Text x</span>
                            <input type="range" class="form-control"  name="textLeft" min="-200" step='1' max="400" value="0" id="textLeft" data-ng-model="textLeft" />
                            <span class="input-group-addon slbl" data-ng-cloak>{{textLeft}}</span>
                        </div>
                    </div>
                    <div class="form-group fSize" data-ng-show="mobile">
                        <div class="input-group">
                            <span class="input-group-addon lbl">Text y</span>
                            <input type="range" class="form-control"  name="textTop" min="-200" step='1' max="251" value="0" id="textTop" data-ng-model="textTop" />
                            <span class="input-group-addon slbl" data-ng-cloak>{{textTop}}</span>
                        </div>
                    </div>
                    <div class="form-group fSize">
                        <div class="input-group">
                            <span class="input-group-addon lbl">Font size</span>
                            <input type="range" class="form-control"  name="fSize" min="6" step='1'  max="18" value="10" id="fSize" data-ng-model="fSize" />
                            <span class="input-group-addon slbl" data-ng-bind="fSize"></span>
                        </div>
                    </div>
                    <div class="form-group fweight">
                        <div class="input-group">
                            <span class="input-group-addon lbl">Font weight</span>
                            <input type="range" class="form-control"  name="fweight" min="100" step='100'  max="900" value="400" id="fweight" data-ng-model="fweight" />
                            <span class="input-group-addon slbl" data-ng-bind="fweight"></span>
                        </div>
                    </div>
                    <div class="form-group fColor">
                        <div class="input-group">
                            <span class="input-group-addon">&nbsp;Font color&nbsp;</span>
                            <input id="html5colorpicker" value="#ffffff"  class="form-control" type="color" data-ng-model="fcolor" />

                        </div>
                    </div>
                    <div class="form-group fType">
                        <div class="input-group">
                            <span class="input-group-addon">&nbsp;Font type&nbsp;&nbsp;</span>
                            <select class="form-control"  name="fType" id="fType" data-ng-model="fType">
                                <option class="form-control" value="Helvetica Neue">Default</option>
                                <option class="form-control" value="Helvetica">Helvetica</option>
                                <option class="form-control" value="sans-serif">Sans-serif</option>
                                <option class="form-control" value="Arial">Arial</option>
                                <option class="form-control" value="cursive">Cursive</option>
                                <option class="form-control" value="Oswald">Oswald</option>
                                <option class="form-control" value="Verdana">Verdana</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Right container to host the visual of the card -->
            <div class="col-md-6 text-left main-right ">
                <div class="card-wrapper">
                    <div class="card-preview {{theme}} {{size}}" style="background-color:{{backgroundColor}};background-image:url('{{backgroundImage}}') ;background-repeat:no-repeat; background-position:center center; background-size:cover;">
                        <section class="logo ">
                            <div class="companyLogo" data-my-draggable style="position:absolute!important;top:{{yPos}}px!important;left:{{xPos}}px!important;width:{{logoSize}}px;height:{{logoSize}}px;background:url('{{logoImage}}') no-repeat center center;background-size:cover;border-radius:{{bradius}}px"><!--<i class="fa fa-arrows fa-2x dragOverlay"></i>--></div>
                        </section>
                        <section class="personal-details ">
                            <div class="moveTextWrapper" data-my-draggable style="position:absolute!important;top:{{fypos+textTop}}px!important;left:{{fxpos+textLeft}}px!important;color:{{fcolor}}!important;font-size:{{fSize}}px!important;font-weight:{{fweight}}!important;font-family:'{{fType}}'!important;">
                                <span class="group1details">
                                    <span data-ng-show="name.length" data-ng-bind="name" class="pdata name"></span>
                                    <span data-ng-show="occupation.length" data-ng-bind="occupation" class="pdata occupation"></span>
                                    <span data-ng-show="email.length" class="pdata email" data-ng-cloak><i class="fa fa-envelope-o"></i>&nbsp;&nbsp; {{email}}</span>
                                    <span data-ng-show="www.length" class="pdata www" data-ng-cloak><i class="fa fa-at"></i>&nbsp;&nbsp; {{www}}</span>
                                    <span data-ng-show="tel.length" class="pdata tel " data-ng-cloak><i class="fa fa-phone" data-ng-show="tel.length"></i>&nbsp;&nbsp; {{tel}}</span>
                                    <span data-ng-show="mob.length" class="pdata mob" data-ng-cloak><i class="fa fa-mobile fa-2" data-ng-show="mob.length"></i>&nbsp;&nbsp;&nbsp; {{mob}}</span>
                                </span>
                                <span class="group2details">
                                    <span data-ng-show="cardDetails.address1" data-ng-bind="address1" class="pdata address1"></span>
                                    <span data-ng-show="city.length" class="city pdata " data-ng-cloak>{{city}}</span>
                                    <span data-ng-show="pc.length" class="pc pdata " data-ng-cloak>{{pc}}</span>
                                </span>
                                <!--<i class="fa fa-arrows fa-2x dragOverlay"></i>-->
                            </div>
                        </section>
                </div>
            </div>
                <p>&nbsp;</p>
            <div class="col-md-12 printBtnWrapper text-center">
                <button class="btn btn-primary btn-lg print" data-ng-click="printMe()" data-ng-show="print">Preview and print</button>
            </div>
        </div>
    </div>
    </div>
    <div class="col-md-12 backBtnWrapper" data-ng-show="back">
        <button class="btn btn-primary btn-lg back" data-ng-click="settings()" ><i class="fa fa-chevron-left fa-3x"></i></button>
        <button class="btn btn-primary btn-lg back pull-right" onclick="window.print()" ><i class="fa fa-print fa-3x"></i></button>
    </div>
    <div id="loading"></div>
    <div id="printingContainer" class="container" data-ng-show="showPrint">
        <div class="row"></div>
        <div id="editor"></div>
    </div>
<!--################## img directory img/image.jpg ######################### -->
<br />
<br />
<br />
<br />
<br />
<div class="w3cicons">
    <i class="fa fa-css3  fa-2x" style="background:#eee;"></i>
    <i class="fa fa-html5  fa-2x" style="background:#eee;"></i>

</div>
<?php
$company='Yuliyan Yordanov';
ini_set('date.timezone', 'Europe/London');
$startyear=10;
$thisyear=date('y');  // displays last two digits of the year not 2012 but 12
?>
<footer>
    <div class="donate">
        <?php 													// include the paypal.php(paypal button)
        $file='../cv_includes/paypal.php';
        if(file_exists($file) && is_readable($file)){
            include($file);
        }
        ?>
    </div>
    <?php 													// include the header.php(styles,scripts,meta)
		$file='../cv_includes/social.php';
		if(file_exists($file) && is_readable($file)){
			include($file);
		}
	?>
    <p>	<span class="companyf">Copyright &copy;
        <?php
            if($thisyear==$startyear){
                echo '20'.$startyear;
            }else{
                echo '20'."$startyear-".$thisyear;
            }

            ?>
        <?php echo $company;?></span>

    </p>
    <p class="bottom_nav">
        <a href="https://plus.google.com/110096199287409637822?rel=author">+1 profile</a> |
        <a href='../sitemap.php'>Sitemap</a> |
        <a href='../privacy.php'>Privacy Policy</a>
    </p>

</footer>

<!--####################################################-->
<!--###################### scripts #####################-->
<!--####################################################-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
<!-- Latest compiled and minified JavaScript -->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>-->
    <script src="scripts/vendor/jquery-1.12.0.min.js"></script>
    <script src="scripts/vendor/angular.min.js"></script>
    <script src="scripts/vendor/angular-resource.min.js"></script>
    <script src="scripts/vendor/angular-route.min.js"></script>
    <script src="scripts/vendor/bootstrap.min.js"></script>
    <!--<script src="scripts/jspdf.min.js"></script>-->
    <script src="scripts/custom-scripts.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-32284812-1', 'yuliyan-yordanov.co.uk');
        ga('require', 'displayfeatures');
        ga('send', 'pageview');
    </script>
</body>
</html>